In [1]:
from schedule_reader import compdat2df

In [2]:
ff18_compdat = compdat2df(r'\\statoil.net\unix_st\project\HDsim\ressim\2023a\eclipse\model\FF18_2023A.DATA', verbose=True)

reading file: //statoil.net/unix_st/project/HDsim/ressim/2023a/eclipse/model/FF18_2023A.DATA
found PATHS keyword:
 INCLRSPC:../include/runspec
   INCLGRD:../include/grid
   INCLEDIT:../include/edit
   INCPROPS:../include/props
   INCLREG:../include/regions
   INCLSOL:../include/solution
   INCLSUM:../include/summary
   INCLSCH:../include/schedule
   INCLHM:../include/hm

In [3]:
ff18_compdat.dtypes

date                          datetime64[ns]
well                                category
I                                      int32
J                                      int32
K_up                                   int32
K_low                                  int32
status                              category
saturation table                      object
transimissibility factor             float64
well bore diameter                   float64
Kh                                   float64
skin                                 float64
D-factor                             float64
direction                           category
pressure equivalent radius           float64
dtype: object

In [4]:
ff18_compdat

,date,well,I,J,K_up,K_low,status,saturation table,transimissibility factor,well bore diameter,Kh,skin,D-factor,direction,pressure equivalent radius
4,2023-05-10,TAWI-NN1,72,56,35,35,OPEN,None,0.271122,0.216,18.718439,0.0,NaN,Z,4.363870
5,2023-05-10,TAWI-NN1,72,56,36,36,OPEN,None,0.293465,0.216,24.749063,0.0,NaN,Z,9.901821
6,2023-05-10,TAWI-NN1,72,55,36,36,OPEN,None,0.017682,0.216,1.519839,0.0,NaN,Z,10.800002
7,2023-05-10,TAWI-NN1,72,55,37,37,OPEN,None,2.309139,0.216,199.908727,0.0,NaN,Z,11.163777
8,2023-05-10,TAWI-NN1,72,55,38,38,OPEN,None,0.204346,0.216,17.999947,0.0,NaN,Z,12.106146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12993,2022-09-30,A_32_AT3,59,86,58,58,SHUT,None,2.769874,0.140,213.361324,0.0,NaN,Y,4.339341
12994,2022-09-30,A_32_AT3,59,85,58,58,SHUT,None,0.331505,0.140,25.963131,0.0,NaN,Y,4.649810
12995,2022-09-30,A_32_AT3,59,85,59,59,SHUT,None,9.635102,0.140,747.918697,0.0,NaN,Y,4.479929
12996,2022-09-30,A_32_AT3,59,85,60,60,SHUT,None,0.716187,0.140,55.685721,0.0,NaN,Y,4.510926
12997,2022-09-30,A_32_AT3,59,85,61,61,SHUT,None,0.019928,0.140,1.553742,0.0,NaN,Y,4.562937